.full-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 20px;
    text-align: center !important;
    margin: 0;
    padding: 0;
  }
}

.admin-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
